/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F7F9F9;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}


/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  font-size: xx-small;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}


/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  text-align: center;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 0cm;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 300px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 900;
}

.section_text_p1 {
  text-align: center;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #154360;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  background-color: white;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}


.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}


.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}




/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 350px;
  width: 500px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

/* .experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}



.project-title {
  margin: 1.5rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
  background-color: white;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

#a1 {
  font-size: x-large;
  text-align: center;
  border-top: 5mm;

}

#a2 {
  border-top: 0cm;
}






@media only screen and (max-width: 768px) {
  #desktop-nav {
    height: 10vh;
  }

  .nav-links {
    gap: 1rem;
    list-style: none;
    font-size: 14px;
  }

  #profile {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0cm;
    min-height: 90vh;
  }

  section {
    padding-top: 0vh;
    height: 100%;
    min-height: 100vh;
    margin: 0 20px;
    box-sizing: border-box;
  }

  .section__pic-container {
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
  }

  .section__text {
    padding-top: 40px;
  }

  .section__pic-container img {
    width: 50vw;
    margin: 0px auto;
    border-radius: 20px;
  }

  .pic-2-container {
    display: none;
  }

  .section-container {
    flex-direction: column;
    gap: 0rem;
    /* height: 100%; */
  }

  .text-container {
    text-align: justify;
  }


  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
  }

  article {
    display: flex;
    width: 20rem;
    justify-content: center;
    gap: 0.5rem;
  }
  
  article .icon {
    cursor: default;
    justify-items: flex-end;
  }

  article div {
    width: 50%;
  }
  /* PROJECTS SECTION */

  #projects {
    position: relative;
  }

  .about-containers {
    flex-direction: column;
  }

  .project-title {
    font-size: 16px;
  }
}